---
import MainLayout from "../layouts/MainLayout.astro";
import CoreBenefits from "../components/CoreBenefits.astro";
import FeaturedCaseStudies from "../components/FeaturedCaseStudies.astro";
import CallToAction from "../components/CallToAction.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout>
  <main>
    <Hero />
    <CoreBenefits />
    <FeaturedCaseStudies />
    <CallToAction />
  </main>
</MainLayout>
